## ============================================================
## Import
## ============================================================

# Import all packages listed as Imports or Depends
### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### base packages
###
import(grid)
import(grDevices)
import(utils)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Non-bioconductor packages
###
importFrom("psych",corr.test)
importFrom("colortools",complementary, opposite)
importFrom("gridExtra",arrangeGrob, grid.arrange)
importClassesFrom("hash",hash)
#importMethodsFrom("hash",keys)
importFrom("hash",hash)
importFrom("hash",has.key)
importFrom("stats",cor)
importFrom("corrplot",corrplot)



### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Bioconductor packages
###
import(IRanges)
import(S4Vectors)
import(GenomicRanges)
import(biomaRt)
import(Gviz)
import(rtracklayer)

importFrom("trackViewer",viewTracks)
importClassesFrom("trackViewer",track, trackList)
importFrom("trackViewer", trackList)

importFrom("ggplot2",ggplotGrob)
importFrom("ggbio",tracks)


## ============================================================
## Export
## ============================================================

# Export all names
#exportPattern("^[[:alpha:]]+")
#exportPattern("^[^\\.]") 

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### Primary functions
###
export(comet,comet.web,comet.list)


### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### pre-formatted tracks
###
export(chrUCSC2ENSEMBL,
    gcContent_UCSC,
    GWAScatalog_UCSC,
    GAD_UCSC,
    GeneReviews_UCSC,
    refGenes_UCSC,
    xenorefGenes_UCSC,
    knownGenes_UCSC,
    genesName_ENSEMBL,
    genes_ENSEMBL,
    interestGenes_ENSEMBL,
    transcript_ENSEMBL,
    interestTranscript_ENSEMBL,
    snpBiomart_ENSEMBL,
    snpLocations_UCSC,
    structureBiomart_ENSEMBL,
    ClinVarCnv_UCSC, ClinVarMain_UCSC,
    CoreillCNV_UCSC,
    COSMIC_UCSC,
    chromatinHMMAll_UCSC, chromatinHMMOne_UCSC,
    HistoneAll_UCSC, HistoneOne_UCSC,
    cpgIslands_UCSC,
    DNAse_UCSC,
    regulationBiomart_ENSEMBL,
    bindingMotifsBiomart_ENSEMBL,
    regulatorySegmentsBiomart_ENSEMBL,
    regulatoryFeaturesBiomart_ENSEMBL,
    otherRegulatoryRegions_ENSEMBL,
    regulatoryEvidenceBiomart_ENSEMBL,
    miRNATargetRegionsBiomart_ENSEMBL,
    repeatMasker_UCSC,
    segmentalDups_UCSC,
    chromHMM_RoadMap,
    DNaseI_RoadMap,
    dgfootprints_RoadMap,
    eQTL_GTEx,
    imprintedGenes_GTEx,
    psiQTL_GTEx,
    metQTL,eQTL,
    TFBS_FANTOM,
    DNaseI_FANTOM,
    ChIPTF_ENCODE,
    HiCdata2matrix)

### - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
### obselete tracks
###
#ISCATrack
