# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
#exportPattern("^[[:alpha:]]+")
exportPattern("^[^\\.]") 

# Import all packages listed as Imports or Depends
import(
  grid,
  grDevices,
  biomaRt,
  Gviz,
  ggbio,
  rtracklayer,
  trackViewer,
  GenomicRanges,
  colortools,
  hash
)
